* {
  margin: 0px;
  padding: 0px;
  background-color: #354649; }

.grid-created, .index-grid, .information-grid, .contact-grid {
  display: grid;
  grid-template-columns: 2fr; }

.color-body {
  background-color: #354649; }

::-webkit-scrollbar {
  display: none; }

.faq-grid {
  display: grid; }

@font-face {
  font-family: 'GodOfWar';
  src: url("/assets/GODOFWAR.TTF"); }

.font-god {
  font-family: 'GodOfWar'; }

hr {
  border: 2px solid azure; }

body header {
  background-color: #6C7A89; }
  body header nav {
    height: 70px;
    width: 100%;
    position: sticky;
    background-color: #6C7A89; }
    body header nav div {
      background-color: #6C7A89; }
      body header nav div a {
        background-color: #6C7A89; }
        body header nav div a img.logo {
          height: 50px;
          background-color: #6C7A89; }
      body header nav div div {
        background-color: #6C7A89; }
        body header nav div div ul {
          background-color: #6C7A89; }
          body header nav div div ul li {
            background-color: #6C7A89; }
            body header nav div div ul li .links-navbar {
              padding: 5px;
              color: #E0E7E9;
              font-size: 22px; }
              body header nav div div ul li .links-navbar:hover {
                border-radius: 4px;
                background-color: #E0E7E9;
                color: #2c2424; }

.nav-item {
  border-radius: 5px;
  padding: 0px 5px; }

.nav-link {
  border-radius: 5px; }

/*menu*/
main .title-menu {
  color: #E0E7E9;
  padding: 40px 0px;
  text-align: center; }

main .FlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 80vh;
  overflow: auto;
  flex-direction: row; }
  main .FlexContainer .hamburguesa {
    display: flex;
    align-items: center;
    row-gap: 50px;
    flex-direction: column;
    background-color: #6C7A89;
    border: 5px solid #A3C6C4;
    border-radius: 20px;
    padding: 46px 46px 20px 46px;
    margin: 25px; }
    main .FlexContainer .hamburguesa .info-hamburguesa {
      color: #354649;
      background-color: #6C7A89; }

/*menu*/
/*form*/
main {
  padding-bottom: 110px; }
  main .main-contact {
    display: grid;
    align-items: center;
    grid-template-columns: 0.9fr 1.1fr;
    grid-template-rows: 0.2fr 2.2fr;
    gap: 6px 6px;
    grid-template-areas: "image-contact title"  "image-contact form";
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    justify-items: center; }
    main .main-contact .title-contact {
      margin-top: 30px;
      margin-bottom: 20px;
      grid-area: title;
      color: #A3C6C4; }
    main .main-contact .image-contact {
      grid-area: image-contact;
      width: 100%;
      height: 100%; }
      main .main-contact .image-contact img {
        height: 700px;
        width: 500px; }
    main .main-contact .form {
      display: grid;
      align-items: center;
      grid-area: form;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.6fr 0.6fr 1.8fr 1fr;
      gap: 6px 6px;
      grid-template-areas: "name second-name" "email ." "comment comment" ". submit-boton";
      justify-items: center;
      width: 100%;
      height: 100%; }
      main .main-contact .form .name-box {
        grid-area: name; }
      main .main-contact .form .second-name-box {
        grid-area: second-name; }
      main .main-contact .form .email.box {
        grid-area: email; }
      main .main-contact .form .comment-box {
        grid-area: comment; }
      main .main-contact .form .submit-boton {
        grid-area: submit-boton; }

.form-label {
  color: #A3C6C4; }

.cv {
  text-align: center; }
  .cv h2 {
    color: #A3C6C4; }

/*form*/
/*faq*/
.introduction {
  display: grid;
  align-items: center;
  margin-bottom: 20px;
  grid-template-columns: 1fr 1fr;
  justify-items: center; }
  .introduction .mini-revew {
    text-align: center;
    display: flex;
    color: #A3C6C4;
    font-size: xx-large; }

.video-nosotros {
  display: flex;
  justify-content: center; }

.video-size {
  margin-top: 50px;
  height: 500px;
  width: 700px; }

.size-img-faq {
  height: 500px;
  width: 100%;
  padding: 20px 50px; }

.title-page {
  color: #A3C6C4;
  margin-bottom: 10px;
  padding: 5px 0 5px 0; }

.position-text-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1cm; }

.fill-contact-grid {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr;
  justify-items: center; }

.image-contact {
  width: 300px; }

.paragraph {
  color: #A3C6C4;
  text-align: center;
  margin: 0px 223px; }

.accordion-body {
  background-color: #6C7A89; }

/*faq*/
.links-social-media {
  padding: 40px; }
  .links-social-media .label-redes-sociales {
    margin: 15px;
    text-align: center;
    color: #E0E7E9; }
  .links-social-media .logos-media {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center; }
    .links-social-media .logos-media .logo-red {
      padding: 5px;
      height: 50px; }

/*MEDIAQUERIE*/
/*MOBILE*/
@media only screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0; }
  .portada img {
    display: none; }
  .index-grid {
    display: grid;
    grid-template-rows: 3.5cm 1fr auto; }
  header ul li ul li {
    display: none; }
  .portada h1 h1 {
    text-align: center;
    font-size: 70px; }
  .portada h1 h3 {
    display: none; }
  .introduction {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto auto; }
  .video-index {
    margin-top: 2cm; }
  .mini-revew {
    margin: 1cm;
    text-align: center; }
  .label-redes-sociales {
    font-size: 70px; }
  .logo-red {
    height: 100px; }
  .FlexContainer {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    height: 80vh;
    justify-content: center; }
  ::-webkit-scrollbar {
    display: none; }
  .image-contact {
    display: none; }
  .main-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  body {
    position: absolute; }
    body header {
      position: absolute;
      z-index: 3; }
    body main {
      position: absolute;
      z-index: 1; }
    body footer {
      position: absolute;
      z-index: 1; }
  .paragraph {
    margin: 0px 10px; } }

/*TABLET*/
/*@media only screen and (min-width: 769px) and (max-width: 1023px){
}*/
/*DESKTOP*/
/*@media only screen and (min-width: 1024px){}*/
