* {
    margin: 0;
    padding: 0;
    background-color: #323232;
  }

@font-face {
    font-family: 'GodOfWar';
    src: url('/assets/GODOFWAR.TTF');
}

.font-god{
    font-family: 'GodOfWar';
}


/*  NAVBAR */
.logo{
    height: 48px;
    background-color: #2c2424;
}

.link-logo{
    background-color: #2c2424;
}

header{
    width: 100%; 
}

nav {
    height: 70px;
    width: 100%;
    background-color: #2c2424;
    position: sticky;
}

  
.nav-directions {
    
    /*display: flex;
    justify-content: space-around;
    align-items: center;*/
    height: 44px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    background-color: #2c2424;
    
}

li{
    float: right;
}

.links-navbar{
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size:x-large;
    background-color: #2c2424;
}

.links-navbar:hover{
    background-color: black;
}
  
  
nav a {
    display: inline;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: none;
    transition: 0.3s;
}

/*NAVBAR*/


/* BODY */
body {
    margin: 0;
}

.cover-img{
    width: 100%;
}


.mini-revew{
    color: aliceblue;
    font-size: xx-large;
}

.title-page{
    
    color: white;
    
}

.position-text-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* BODY */


/* FOOTER */
footer{
    background-color: cadetblue;
}

/* FOOTER */