* {
    margin: 0px;
    padding: 0px;
    background-color: $color-primario;
}

.grid-created{
    display: grid;
    grid-template-columns: 2fr;
}

@mixin display-align-items($display,$position) {

    display:$display;
    align-items:$position;
    
}


$commons:(
    background-color-primario: $color-primario,
    background-color-secundario: $color-secundario,
    color-terciario: $color-terciario,
    color-cuaternario: $color-cuaternario,
    display: grid
);

.color-body{
    background-color: map-get($commons, background-color-primario);
}

::-webkit-scrollbar{
    display: none;
}

.index-grid{
    @extend .grid-created;
}

.information-grid{
    @extend .grid-created;
}

.faq-grid{
    display: map-get($commons, display)
}

.contact-grid{
    @extend .grid-created;
}

@font-face {
    font-family: 'GodOfWar';
    src: url('/assets/GODOFWAR.TTF');
}

.font-god{
    font-family: 'GodOfWar';
}

hr{
    border: 2px solid azure;
}



