footer{
    background-color: $color-primario;
}

.links-social-media{
    padding: 40px;
    .label-redes-sociales{
        margin: 15px;
        text-align: center;
        color: map-get($commons, color-cuaternario);
    }
    .logos-media{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        .logo-red{
            padding: 5px;
            height: 50px;
        }
    }
}