//nesting

body{
    header{
        background-color: $color-secundario;
        nav{
            height: 70px;
            width: 100%;
            position: sticky;
            background-color: $color-secundario;
            div{
                background-color: $color-secundario;
                a{
                    img.logo{
                        height:50px;
                        background-color: $color-secundario;
                    }
                    background-color: $color-secundario;
                }
                div{
                    background-color: $color-secundario;
                    ul{
                        background-color: $color-secundario;
                        li{
                            background-color: $color-secundario; 
                            .links-navbar{
                                padding: 5px;
                                color: $color-cuaternario;
                                font-size: 22px;
                                &:hover{
                                    border-radius: 4px;
                                    background-color: $color-cuaternario;
                                    color: #2c2424;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.nav-item{
    border-radius: 5px;
    padding: 0px 5px;
}

.nav-link{
    border-radius: 5px;
}