/*menu*/
main{
    background-color: $color-primario;
    .title-menu{
        color: $color-cuaternario;
        padding: 40px 0px;
        text-align: center;
    }
    
    .FlexContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 80vh;
        overflow: auto;
        flex-direction: row;
    
        .hamburguesa{
            @include display-align-items(flex,center);
            row-gap: 50px;
            flex-direction: column;
            background-color: $color-secundario;
            border: 5px solid $color-terciario;
            border-radius: 20px;
            padding: 46px 46px 20px 46px;
            margin: 25px;
    
            .info-hamburguesa{
                color: $color-primario;
                background-color: $color-secundario;
            }
        }
    }
}
/*menu*/

/*form*/
main{
    padding-bottom: 110px;
    .main-contact{
        @include display-align-items(grid,center);
        grid-template-columns: 0.9fr 1.1fr;
        grid-template-rows: 0.2fr 2.2fr;
        gap: 6px 6px;
        grid-template-areas:
            "image-contact title" 
            "image-contact form";
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        justify-items: center;
   
    
        .title-contact{
            margin-top: 30px;
            margin-bottom: 20px;
            grid-area: title;
            color: $color-terciario;
        }
    
        .image-contact{
            grid-area: image-contact;
            width:100%;
            height:100%;
    
            img{
                height: 100%;
                width: 100%;
            }
        }
    
        .form{
            @include display-align-items(grid,center);
            
            grid-area: form;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.6fr 0.6fr 1fr 1fr;
            gap:6px 6px;
            grid-template-areas: 
                "name second-name"
                "email ."
                "comment comment"
                "submit-boton submit-boton";
            justify-items: center;
            width: 100%;
            height: 100%;
    
            .name-box{
                grid-area: name;
                width: 70%;
            }
            .second-name-box{
                grid-area: second-name;
                width: 70%;
            }
            .email.box{
                grid-area: email;
            }
            .comment-box{
                grid-area: comment;
            }
            .submit-boton{
                grid-area: submit-boton;
            }
        }
    }
}

.form-label{
    color: map-get($commons, color-terciario);
}

.cv{
    text-align: center;
    h2{
        color:map-get($commons,color-terciario);
    }
}
/*form*/

/*faq*/

.introduction{
    @include display-align-items(grid,center);
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    .mini-revew{
        text-align: center;
        display: flex;
        color: map-get($commons, color-terciario);
        font-size: xx-large;    
    }
}

.video-nosotros{
    display:flex;
    justify-content: center;
}

.video-size{
    margin-top: 50px;
    height: 500px ;
    width: 700px;
}




.size-img-faq{
    height: 500px;
    width: 100%;
    padding: 20px 50px;
}

.title-page{
    color: map-get($commons, color-terciario);
    margin-bottom: 10px;
    padding: 5px 0 5px 0;

}

.position-text-center{
    @include display-align-items(flex,center);
    flex-direction: column;
    row-gap: 1cm;
}

.fill-contact-grid{
    @include display-align-items(grid,center);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.image-contact{
    width: 300px;
}

.paragraph{
    color: map-get($commons, color-terciario);
    text-align: center;
}

iframe{

    margin-top: 0%;
    margin-left: 4%;
    max-width: 60%;
}



.color-text{
    color: map-get($commons, color-terciario);
}

.center-text{
    padding-left: 18%;
    padding-top: 10%;

}

.accordion-item{
    color: var(--bs-accordion-color);
    padding: 2% 16% 2% 16%;
    background-color: map-get($commons, background-color-primario);
    border:none
    
}

/*faq*/