* {
    margin: 0px;
    padding: 0px;
    background-color: var(--color-primario);
}

:root{
    --color-primario: #354649;

    --color-secundario: #6C7A89;

    --color-terciario: #A3C6C4;

    --color-cuaternario: #E0E7E9;
}

.color-body{
    background-color: var(--color-primario);
}

::-webkit-scrollbar{
    display: none;
}

.index-grid{
    display:grid;
    grid-template-columns: 2fr;
}

.information-grid{
    display: grid;
    grid-template-columns: 2fr;
}

.faq-grid{
    display: grid;
}

.contact-grid{
    display: grid;
    grid-template-columns: 2fr;
}

@font-face {
    font-family: 'GodOfWar';
    src: url('/assets/GODOFWAR.TTF');
}

.font-god{
    font-family: 'GodOfWar';
}

hr{
    border: 2px solid azure;
}


/*  NAVBAR */
body{
    header{
        background-color: var(--color-secundario);
        nav{
            height: 70px;
            width: 100%;
            position: sticky;
            background-color: var(--color-secundario);
            div{
                background-color: var(--color-secundario);
                a{
                    img.logo{
                        height:50px;
                        background-color: var(--color-secundario);
                    }
                    background-color: var(--color-secundario);
                }
                div{
                    background-color: var(--color-secundario);
                    ul{
                        background-color: var(--color-secundario);
                        li{
                            background-color: var(--color-secundario); 
                            .links-navbar{
                                padding: 5px;
                                color: var(--color-cuaternario);
                                font-size: 22px;
                                &:hover{
                                    border-radius: 4px;
                                    background-color: var(--color-cuaternario);
                                    color: #2c2424;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.nav-item{
    border-radius: 5px;
    padding: 0px 5px;
}

.nav-link{
    border-radius: 5px;
}



/*NAVBAR*/


/* BODY */

.introduction{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

    .mini-revew{
        text-align: center;
        display: flex;
        color: var(--color-cuaternario);
        font-size: xx-large;    
    }
}

.video-nosotros{
    display:flex;
    justify-content: center;
}

.video-size{
    margin-top: 50px;
    height: 500px ;
    width: 700px;
}




.size-img-faq{
    height: 500px;
    width: 100%;
    padding: 20px 50px;
}

.title-page{
    color: var(--color-cuaternario);
    margin-bottom: 10px;
    padding: 5px 0 5px 0;

}

.position-text-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1cm;
}

.fill-contact-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.image-contact{
    width: 300px;
}

.paragraph{
    color: var(--color-cuaternario);
    text-align: center;
    margin: 0px 223px;


}

                /* FORM */
main{
    padding-bottom: 110px;
    .main-contact{
        display: grid;
        grid-template-columns: 0.9fr 1.1fr;
        grid-template-rows: 0.2fr 2.2fr;
        gap: 6px 6px;
        grid-template-areas:
            "image-contact title" 
            "image-contact form";
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        justify-items: center;
        align-items: center;
   
    
        .title-contact{
            margin-top: 30px;
            margin-bottom: 20px;
            grid-area: title;
            color: var(--color-terciario);
        }
    
        .image-contact{
            grid-area: image-contact;
            width:100%;
            height:100%;
    
            img{
                height: 700px;
                width: 500px;
            }
        }
    
        .form{
            grid-area: form;
        
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.6fr 0.6fr 1.8fr 1fr;
            gap:6px 6px;
            grid-template-areas: 
                "name second-name"
                "email ."
                "comment comment"
                ". submit-boton";
            align-items: center;
            justify-items: center;
            width: 100%;
            height: 100%;
    
            .name-box{
                grid-area: name;
            }
            .second-name-box{
                grid-area: second-name;
            }
            .email.box{
                grid-area: email;
            }
            .comment-box{
                grid-area: comment;
            }
            .submit-boton{
                grid-area: submit-boton;
            }
        }
    }
}

.form-label{
    color: var(--color-terciario);
}

.cv{
    text-align: center;
    h2{
        color:var(--color-terciario);
    }
}

                /* FORM */


                /* MENU */

main{
    .title-menu{
        color: var(--color-cuaternario);
        padding: 40px 0px;
        text-align: center;
    }
    
    .FlexContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 80vh;
        overflow: auto;
        flex-direction: row;
    
        .hamburguesa{
            display: flex;
            row-gap: 50px;
            flex-direction: column;
            align-items: center;
            background-color: var(--color-secundario);
            border: 5px solid var(--color-terciario);
            border-radius: 20px;
            padding: 46px 46px 20px 46px;
            margin: 25px;
    
            .info-hamburguesa{
                color: var(--color-primario);
                background-color: var(--color-secundario);
            }
        }
    }
}

                /*  FAQ  */

.accordion-body{
    background-color: var(--color-secundario);
}

/* BODY */


/* FOOTER */
.links-social-media{
    padding: 40px;
    .label-redes-sociales{
        margin: 15px;
        text-align: center;
        color: var(--color-cuaternario);
    }
    .logos-media{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        .logo-red{
            padding: 5px;
            height: 50px;
        }
    }
}

/* FOOTER */


/*MEDIAQUERIE*/
/*MOBILE*/
@media only screen and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
    }

    
    .portada img{
        display:none;
    }

    .index-grid{
        display: grid;
        grid-template-rows: 3.5cm 1fr auto;
    }

    header ul li{
        ul{
            li{
                display: none;
            }
        }
        
    }

    .portada h1{

        h1{
            text-align: center;
            font-size:70px;
        }
        h3{
            display:  none;
        }
        
    }

    .introduction{

        display: grid;
        grid-template-columns: none;
        
        grid-template-rows: auto auto;
    }

    .video-index{
        margin-top: 2cm;
    }

    .mini-revew{
        margin: 1cm;
        text-align: center;
    }

    .label-redes-sociales{
        font-size: 70px;
    }

    .logo-red{
        height: 100px;
    }

    .FlexContainer{
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        height: 80vh;
        justify-content: center;
    }

    ::-webkit-scrollbar{
        display: none;
    }

    .image-contact{
        display: none;
    }

    .main-contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    body{
        position: absolute;
        header{
            position: absolute;
            z-index: 3;
        }
        main{
            position: absolute;
            z-index: 1;
        }
        footer{
            position: absolute;
            z-index: 1;
        }
    }

    .paragraph{
        margin: 0px 10px;
    }
    


    
}
/*TABLET*/
/*@media only screen and (min-width: 769px) and (max-width: 1023px){
}*/
/*DESKTOP*/
/*@media only screen and (min-width: 1024px){}*/